.navBar{
    background-color: #ff862f;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
}
.navContainer{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navButton{
    background-color: #ff862f;
    width: 20%;
    height: 100%;
    border: none;
    border-bottom: solid 0.5rem;
    border-bottom-color: #ff862f;
    font-size: 100%;
    font-weight: bold;
    color: white;
}
.navButton:hover{
    background-color: #ff984f;
    border-bottom-color: #fa7110;
}