body{
    margin: 0%;
    height: 100vh;
    background: linear-gradient(0deg, #f18437 0%, #ff862f 100%) ;
}
img{
    height: 15rem;
    margin-right: 3rem;
}
.main{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exibir{
    width: 50%;
    background-color: aliceblue;
    border-radius: 3rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
}
.exibirDetalhes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f18437;
    padding: 3.5rem;
    border-radius: 3rem;
    color: white;
    width: 60%;
}
.buttonSlvr{
    border: solid 0.2rem;
    border-radius: 2rem;
    border-color: white;
    background-color: #f18437;
    color: aliceblue;
    width: 8rem;
    padding: 0.5rem;
}
.buttonSlvr:hover{
    background-color: #ff984f;
}
.linha{
    margin-bottom: 1rem;
}