body{
    margin: 0%;
    height: 100vh;
    background: linear-gradient(0deg, #f18437 0%, #ff862f 100%) ;
}
img{
    height: 15rem;
}
.boxImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AnuncioForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.formAnuncio{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border-radius: 5rem;
}
.formInputContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formInput{
    height: 4vh;
    margin-bottom: 2rem;
}
.formInputDescription{
    height: 8vh;
    margin-bottom: 2rem;
}
.buttonSlvr{
    background-color: #ff862f;
    width: 20%;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    font-size: 100%;
    font-weight: bold;
    color: white;
    margin-bottom: 3rem;
}
.buttonSlvr:hover{
    background-color: #ff984f;
    border-bottom-color: #fa7110;
}