body{
    margin: 0%;
    height: 100vh;
    background: linear-gradient(0deg, #f18437 0%, #ff862f 100%) ;
}
img{
    width: 80%;
    height: 15rem;
}
.inputList{
    border: solid 0.2rem;
    border-radius: 2rem;
    border-color: white;
    background-color: #f18437;
    color: aliceblue;
    width: 8rem;
    padding: 0.5rem;
}
.inputList:hover{
    background-color: #ff984f;
}
.boxImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxInfo{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputMenu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.boxListaDicas{
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.boxPetshopLista{
    background-image: linear-gradient(0deg, #f18437 0%, #ff862f 100%);
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 1rem;
    flex-grow: 0;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    color: white;
}
.boxPetshopLista:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}