body{
    margin: 0%;
    background: linear-gradient(0deg, #f18437 0%, #ff862f 100%) no-repeat;
    height: 100vh;
}
.AnuncioForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.formAnuncio{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border-radius: 5rem;
}
.formInputContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formInput{
    height: 4vh;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.formInputDescription{
    height: 8vh;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.buttonSlvr{
    background-color: #ff862f;
    width: 20%;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    font-size: 100%;
    font-weight: bold;
    color: white;
    margin-bottom: 3rem;
}
.buttonSlvr:hover{
    background-color: #ff984f;
    border-bottom-color: #fa7110;
}
.navBar{
    background-color: #ff862f;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
}
.navContainer{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navButton{
    background-color: #ff862f;
    width: 20%;
    height: 100%;
    border: none;
    border-bottom: solid 0.5rem;
    border-bottom-color: #ff862f;
    font-size: 100%;
    font-weight: bold;
    color: white;
}
.navButton:hover{
    background-color: #ff984f;
    border-bottom-color: #000000;
}